# Question 1:
1. Use the User dataset perform Random Forest and compare with Decision Tree.

In [20]:
'''importing libraraies'''
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
'''importing file'''
os.chdir('S:\\Coding\\AIML\\LetsUpgrade')

In [3]:
'''loading file to dataset'''
dataset = pd.read_csv("User_Data - Arindam Dev.csv")
data = pd.DataFrame(dataset, index=None)

In [4]:
'''converting gender from object to category and in numerical form'''
data['Gender'] = data['Gender'].astype('category')
data['Gender'] = data['Gender'].cat.codes

In [10]:
'''dataframe at a glance'''
data.head()

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [12]:
'''forming independent and dependent variables'''
x1 = data.iloc[:,1:4]
y = data.iloc[:,-1]

In [13]:
'''Standardising the independent variables'''
x = StandardScaler().fit_transform(x1)

In [14]:
'''forming train and test cases'''
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2)

In [15]:
'''checking shape of train and test cases'''
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((320, 3), (80, 3), (320,), (80,))

In [16]:
'''model fitting for Random Forest and Decision Tree'''
rfc = RandomForestClassifier(n_estimators=50).fit(xtrain, ytrain)
dtc = DecisionTreeClassifier(criterion='gini').fit(xtrain, ytrain)

In [17]:
'''Finding predicted values for Random Forest and Decision Tree'''
ypred_rfc = rfc.predict(xtest)
ypred_dtc = dtc.predict(xtest)

In [22]:
'''Forming CLassification Report and Confusion Matrix for Random Forest and Decision Tree'''
CR_rfc = classification_report(ytest, ypred_rfc)
CR_dtc = classification_report(ytest, ypred_dtc)

CM_rfc = confusion_matrix(ytest, ypred_rfc)
CM_dtc = confusion_matrix(ytest, ypred_dtc)

In [30]:
'''Final Result'''
print('Classification Report using Random Forest Classifier is \n {}, \n Classification Report using Decision Tree Classifier is \n {}, \n Confusion Matrix using Random Forest Classifier is \n {}, \n Confusion Matrix using Decision Tree Classifier is \n {}'.format(CR_rfc, CR_dtc, CM_rfc, CM_dtc))

Classification Report using Random Forest Classifier is
               precision    recall  f1-score   support

           0       0.94      0.98      0.96        47
           1       0.97      0.91      0.94        33

    accuracy                           0.95        80
   macro avg       0.95      0.94      0.95        80
weighted avg       0.95      0.95      0.95        80
,
 Classification Report using Decision Tree Classifier is
               precision    recall  f1-score   support

           0       0.90      0.91      0.91        47
           1       0.88      0.85      0.86        33

    accuracy                           0.89        80
   macro avg       0.89      0.88      0.88        80
weighted avg       0.89      0.89      0.89        80
,
 Confusion Matrix using Random Forest Classifier is
 [[46  1]
 [ 3 30]],
 Confusion Matrix using Decision Tree Classifier is
 [[43  4]
 [ 5 28]]

## As accuracy of Random Forest is better than Decision Tree, Random Forest Algorithm is better for the given dataset