# Question 1:
1. Use User Data set and show the accuracy through the SVM model.

In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report, recall_score, precision_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn import svm

In [2]:
df = pd.DataFrame(pd.read_csv('User_Data.csv'))

In [3]:
df.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [4]:
'''convert Gender column into categorical column'''
df['Gender'] = df['Gender'].astype('category')

In [5]:
'''Using cat.codes method to convert Gender categories to number'''
df['Gender Cat'] = df['Gender'].cat.codes

In [6]:
df.corr()

                  User ID       Age  EstimatedSalary  Purchased  Gender Cat
User ID          1.000000 -0.000721         0.071097   0.007120   -0.025249
Age             -0.000721  1.000000         0.155238   0.622454   -0.073741
EstimatedSalary  0.071097  0.155238         1.000000   0.362083   -0.060435
Purchased        0.007120  0.622454         0.362083   1.000000   -0.042469
Gender Cat      -0.025249 -0.073741        -0.060435  -0.042469    1.000000

In [7]:
'''referring the correlation table, we see that User ID, Gender & Gender Cat have no strong connection with purchase. 
So dropping the User ID column'''

df.drop(['User ID', 'Gender Cat', 'Gender'], inplace=True, axis = 1)

In [8]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [9]:
# x variable
x = df.iloc[:,:2]

In [10]:
# y variable
y = df.iloc[:,-1]

In [11]:
# train test split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2)

In [12]:
# forming model
model = svm.SVC().fit(xtrain,ytrain)

In [13]:
# calculating predicted values
ypred = model.predict(xtest)

In [14]:
# checking the robustness of the model
a = accuracy_score(ytest,ypred)
p = precision_score(ytest, ypred)
r = recall_score(ytest, ypred)

print('accuracy is {}, precision is {}, recall is {}'.format(a,p,r))

accuracy is 0.7875, precision is 0.75, recall is 0.5555555555555556

In [15]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.80      0.91      0.85        53
           1       0.75      0.56      0.64        27

    accuracy                           0.79        80
   macro avg       0.78      0.73      0.74        80
weighted avg       0.78      0.79      0.78        80

In [16]:
confusion_matrix(ytest, ypred)

array([[48,  5],
       [12, 15]], dtype=int64)

In [17]:
model.score(xtrain, ytrain)

0.775