# Question 1:
Anova
Three archers – Pat, Jack, and Alex are participating in an archery contest. They are shooting at
targets with 10 evenly spaced concentric rings. The rings have score values from 1 through 10
assigned to them, with 10 being the highest. Each participant shoots 6 arrow, scoring the
following points:
Pat – 5, 4, 4, 3, 9, 4
Jack – 4, 8, 7, 5, 1, 5
Alex – 9, 9, 8, 10, 4, 10
Based on the above results we would like to know who the best archer is. In other words our null
hypothesis is that the means of all populations are equal.

In [20]:
import pandas as pd
from scipy import stats

In [87]:
'''Preparing dataframe'''
scores = pd.DataFrame({'Pat':[5,4, 4, 3, 9, 4],'Jack':[4, 8, 7, 5, 1, 5], 'Alex' : [9, 9, 8, 10, 4, 10]},index = (1,2,3,4,5,6))
scores

   Pat  Jack  Alex
1    5     4     9
2    4     8     9
3    4     7     8
4    3     5    10
5    9     1     4
6    4     5    10

In [93]:
'''getting statistical details to check means/medians'''
scores.describe()

            Pat     Jack       Alex
count  6.000000  6.00000   6.000000
mean   4.833333  5.00000   8.333333
std    2.136976  2.44949   2.250926
min    3.000000  1.00000   4.000000
25%    4.000000  4.25000   8.250000
50%    4.000000  5.00000   9.000000
75%    4.750000  6.50000   9.750000
max    9.000000  8.00000  10.000000

In [94]:
'''Conducting Anova test for getting the p-value'''
stats.f_oneway(scores['Pat'], scores['Jack'], scores['Alex'])

F_onewayResult(statistic=4.4882729211087415, pvalue=0.029667763955533364)

In [26]:
'''Assuming Threshold 5%, Since p < 5%, we reject null hypothesis (Ho) that the means are same. 
Our alternative hypothesis is means are NOT same. 
From the .describe function, we see that Alex is the better archer as he has the highest mean'''

'Assuming Threshold 5%, Since p < 5%, we reject null hypothesis (Ho) that the means are same. \nOur alternative hypothesis is means are NOT same. \nFrom the .describe function, we see that Alex is the better archer as he has the highest mean'